package components

import "github.com/AslanSN/CurriculumVitae/helpers"

templ AslanImage() {
	<img
		class="w-80 h-auto m-4"
		src={string(helpers.RepoURL + "/images/AslanSNPhoto.webp")}
		alt="Placeholder AslanImageAlt"
	/>
}
