package components

import "github.com/AslanSN/CurriculumVitae/internal/db/constants"

templ HeroFooter() {
	<footer>
		<ul
			class="flex flex-row flex-wrap h-min w-full  items-baseline"
		>
			for _, socialMedia := range constants.SocialMediaList {
				<li class="mx-2" key={ socialMedia.IconLabelParams.Id }>
					@LinkItem(socialMedia.SocialMediaLink, nil) {
						@IconLabel(socialMedia.IconLabelParams)
					}
				</li>
			}
		</ul>
	</footer>
}
