package components

func classesHandler(classes string) string {
	if classes == "" {
		return "link-ghost md:px-3 p-0"
	}
	return classes
}

templ LinkItem(href templ.SafeURL, classes string) {
	<a
		class={ "cursor-pointer text-2xl rounded-full", classesHandler(classes) }
		href={ href }
		target="_blank"
		rel="noopener noreferrer"
	>
		{ children... }
	</a>
}
