package components

func classesHandler(classes string) string {
	if classes == "" {
		return "link-e"
	}
	return classes
}

templ LinkItem(href templ.SafeURL, classes string) {
	<a
		class={ "cursor-pointer", classesHandler(classes) }
		href={ href }
		target="_blank"
		rel="noopener noreferrer"
	>
		{ children... }
	</a>
}
