package components

import "github.com/AslanSN/CurriculumVitae/helpers"

templ AslanImage() {
	<img
		class="w-80 h-auto m-4"
		src={helpers.RepoURL + "/images/AslanSNPhoto.png"}
		alt="Placeholder AslanImageAlt"
	/>
	// src={ helpers.RepoURL + "/images/AslanSNPhoto.png" }
}
