package components

import "github.com/AslanSN/CurriculumVitae/db/constants"

templ AboutMe() {
	<div class="align-middle">
		<h1 class="text-5xl mb-6 w-fit font-bold">
			ABOUT ME
		</h1>
		<p class="text-lg sm:text-2xl lg:text-4xl">
			{ constants.AboutMe }
		</p>
	</div>
}
